body {
  background-color: #374151;
}

#btnVklass, #btnSchema, #btnLunch, #weekNmbr, #vecka {
  background-color: #374151;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

#btnVklass:hover, #btnSchema:hover, #btnLunch:hover {
  background-color: #111827;
  cursor: pointer;
}

#btnVklass:focus, #btnSchema:focus, #btnLunch:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
    #btnVklass, #btnSchema, #btnLunch {
    padding: .75rem 1.5rem;
  }
}

#centerBtn {
    text-align: center;
}

#VklassIcon, #LunchIcon, #SchemaIcon {
    float: left;
    width: auto;
}

#schemaIframe {
  display: none;
  margin-top: auto;
  float: right;
  width: 35%;
  box-shadow: -8px 8px 12px #111827;
  cursor: move;
  background-color: #374151;
  height: 470px;
}

#lunchIframe {
  display: none;
  margin-top: auto;
  float: left;
  width: 35%;
  box-shadow: 8px 8px 12px #111827;
  cursor: move;
  background-color: #374151;
  height: 470px;
}

